{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-4">
  {% if user.is_authenticated %}
    <h1>Welcome to CRM</h1>
  {% else %}
    <h1>Customer Relation Manager</h1>
    <br/>
    <form method='POST', action="{% url 'app:Home' %}">
      {% csrf_token %}
      <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="user_name", placeholder="User name" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </form>
  {% endif %}
</div>

{% endblock %}
